<!-- Footer -->
<footer class="py-8">
    <div class="grid grid-cols-3 mx-auto w-32 text-3xl mb-8">
        <a href="#" class=" hover:text-primary-600 transition duration-300">
            <i class="ph ph-facebook-logo"></i>
        </a>
        <a href="#"  class=" hover:text-primary-600 transition duration-300">
            <i class="ph ph-twitter-logo"></i>
        </a>
        <a href="#"  class=" hover:text-primary-600 transition duration-300">
            <i class="ph ph-instagram-logo"></i>
        </a>
    </div>
    <div class="mx-auto text-center">
        <p>&copy;Site web réalisé en 2023 Mathéo Zeller. Tous droits réservés.</p>
    </div>
</footer>
