<!-- Barre de navigation sur le côté -->
<nav class="bg-white px-4 md:px-0 bottom-0 flex fixed left-0 flex-shrink-0 w-full h-20 md:top-0 md:w-20 md:flex-col justify-between md:h-screen border-r border-slate-200 z-20 items-center">
    <a href="#hero" class="block w-12 h-16">
        <img src="{{ asset('uploads/logo.svg') }}" alt="">
    </a>
    <div class="grid grid-cols-3 md:grid-cols-1 text-3xl gap-4 menu">
        <a href="#hero" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-house"></i>
        </a>
        <a href="#biographie" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-user"></i>
        </a>
        <a href="#dessins" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-image"></i>
        </a>
    </div>
    <div class="flex justify-center items-center">
        {% if app.user %}
            <a href="{{ path("admin") }}" class="md:h-16 block text-3xl">
                <i class="ph ph-lock"></i>
            </a>
        {% else %}
            <a href="{{ path("app_login") }}" class="md:h-16 block text-3xl">
                <i class="ph ph-sign-in"></i>
            </a>
        {% endif %}
    </div>
</nav>