<!-- Barre de navigation sur le côté -->
<nav class="bg-white bottom-0 flex fixed left-0 flex-shrink-0 w-full h-20 md:top-0 md:w-20 md:flex-col justify-center md:justify-between md:h-screen border-r border-slate-200 z-20 py-4 items-center">
    <a href="#hero" class="hidden md:block w-12 h-16">
        <img src="{{ asset('uploads/logo.svg') }}" alt="">
    </a>
    <div class="grid grid-cols-3 md:grid-cols-1 text-3xl gap-4 menu">
        <a href="#hero" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-house"></i>
        </a>
        <a href="#biographie" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-user"></i>
        </a>
        <a href="#dessins" class="flex transition duration-300 hover:text-primary-700 items-center smooth">
            <i class="ph ph-image"></i>
        </a>
    </div>
    {% if app.user %}
        <a href="{{ path("app_logout") }}" class="h-16 hidden md:block text-3xl">
            <i class="ph ph-sign-out"></i>
        </a>
    {% else %}
        <a href="{{ path("app_login") }}" class="h-16 hidden md:block text-3xl">
            <i class="ph ph-sign-in"></i>
        </a>
    {% endif %}
</nav>