<div class="flex justify-center">
    <nav class="border-b-2 border-gray-500 grid-cols-3 gap-8" aria-label="Tabs">
        <a href="#onglet1" class="nav-tab p-2 inline-flex items-center text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none bg-primary-600">
            Illustrations
        </a>
        <a href="#onglet2" class="nav-tab p-2 inline-flex items-center text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none">
            Rendus 3D
        </a>
    </nav>
</div>

<div class="p-4">
    <div id="onglet1">
        <!-- Contenu de l'onglet 1 -->
        <p>Contenu de l'onglet 1</p>
    </div>

    <div id="onglet2">
        <!-- Contenu de l'onglet 2 -->
        <p>Contenu de l'onglet 2</p>
    </div>
</div>




