/***************************/
/********** THIN ***********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/***************************/
/******* EXTRA-LIGHT *******/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/***************************/
/********** LIGHT **********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/***************************/
/********* REGULAR *********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/***************************/
/******** SEMI-BOLD ********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/***************************/
/************ BOLD *********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/***************************/
/******** EXTRA-BOLD *******/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/***************************/
/*********** BLACK *********/
/***************************/
@font-face {
  font-family: 'Lexend';
  src:
          url('../fonts/Lexend/Lexend-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}