<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sylvain B. | Infographiste, Artiste 3D{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ asset('uploads/logo.svg') }}">
        <link rel="icon" href="">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('smooth') }}
        {% endblock %}
    </head>
    <body>

        <main class="min-h-screen flex justify-center items-center p-8 box-border">
            {% block body %}

            {% endblock %}
        </main>
    </body>
</html>
