<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sylvain B. | Infographiste, Artiste 3D{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('smooth') }}
        {% endblock %}
    </head>
    <body>
        {% if app.request.attributes.get('_route') != 'app_draw' %}
            {%  include("includes/_nav.html.twig") %}
        {% endif %}

        <main class="mb-20 md:mb-0 md:ml-20 px-8 w-[calc(100%-5rem) {% block main_class %}{% endblock %}">
            {% block body %}

            {% endblock %}

            {% if app.request.attributes.get('_route') != 'app_draw' %}
                {% include('includes/_footer.html.twig') %}
            {% endif %}
        </main>
    </body>
</html>
