{% extends 'base_form.html.twig' %}

{% block body %}
    <div class="grid gap-4">
        <h2>Oups ! il y a une erreur !</h2>
        <p>Vous essayez quelque chose qui ne fonctionne pas.</p>
        <div class="flex justify-center">
            <a class="btn btn-primary" href="{{ path("app_home") }}">Accueil</a>
        </div>
    </div>
{% endblock %}